@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format('truetype');
    font-style: italic;
}*/

:root {
  --one-rem: 0.0625rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
10px = 0.625rem
1px = 0.0625rem 
 */

body {
  font-family: "Raleway", sans-serif;
  background-color: #fafbfe;
}

/* --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px; */

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--bs-secondary);
  border-radius: 4px;
}
